/* import of fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quattrocento&display=swap');

/* Color Theme Swatches in Hex
.Postane-1-hex { color: #3F4773; }
.Postane-2-hex { color: #F2E205; }
.Postane-3-hex { color: #F2CB05; }
.Postane-4-hex { color: #F2B807; }
.Postane-5-hex { color: #A68932; }

Color Theme Swatches in RGBA
.Postane-1-rgba { color: rgba(63, 70, 114, 1); }
.Postane-2-rgba { color: rgba(242, 226, 4, 1); }
.Postane-3-rgba { color: rgba(242, 202, 4, 1); }
.Postane-4-rgba { color: rgba(242, 183, 7, 1); }
.Postane-5-rgba { color: rgba(165, 136, 49, 1); }

Color Theme Swatches in HSLA
.Postane-1-hsla { color: hsla(230, 29, 34, 1); }
.Postane-2-hsla { color: hsla(56, 96, 48, 1); }
.Postane-3-hsla { color: hsla(50, 96, 48, 1); }
.Postane-4-hsla { color: hsla(45, 94, 48, 1); }
.Postane-5-hsla { color: hsla(44, 53, 42, 1); } */



/* Global declarations in wildcard */
*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CUSTOM COLOR VARIABLES */
:root {
  --COLOR-1: #3F4773;
  --COLOR-2: #F2E205;
  --COLOR-3: #F2CB05;
  --COLOR-4: #a37c05;
  --COLOR-5: #453914;
}

/* General body styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-family: 'Quattrocento', serif;
  color: var(--COLOR-5);
}

input[type="checkbox"],
input[type="checkbox"]+label,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--COLOR-1);
}

/* Setting a responsive font-sizes */

h2 {
  /* font-weight: 400; */
  font-size: clamp(2rem, 5vw + 0.5rem, 5rem);
}

h3 {
  font-size: clamp(1.5rem, 5vw, 2.5rem)
}

h4 {
  font-size: clamp(1.2rem, 4.5vw, 2rem);
}

h5 {
  font-size: clamp(1rem, 3vw, 1.3rem);
}

p,
li>span {
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
  line-height: 130%;
}


/* HEADER */
header {
  background-color: var(--COLOR-3);
  padding: 1rem 1rem;
  position: fixed;
  z-index: 20;
  width: 100%;
  box-shadow: 0 10px 20px var(--COLOR-1);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  /* Underline removed to all 'a' children of the header*/
  text-decoration: none;
  color: inherit;
}

header h1 {
  font-size: 200%;
  font-weight: 600;
}

nav {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  width: 96%;
  margin: auto;
  padding: 0.5rem 3rem;
  line-height: 200%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* Adding glass morphism */
  /* backdrop-filter: blur(15px); */
  /* background: transparent; */
  background-color: #f2e205;
  /* makes entire list hidden until the burger toggled */
  /* opacity-height applied instead of display none  */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
}

.nav-menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style: none;
}

.nav-toggle--label {
  font-size: 2rem;
  padding-right: 0.5em;
}

/* Add hidden items: section headings and checkbox */
.hidden-heading {
  display: none;
}

#nav-toggle {
  display: none;
}

/* Provide checkbox toggle between visible non-visible */
#nav-toggle:checked~nav {
  /* max-height used with px instead of auto to avoid browser issues w/t calculation */
  opacity: 1;
  max-height: 300px;
}

/* Burger icon will rotate when toggled */
#nav-toggle:checked~.nav-toggle--label {
  transform: rotate(90deg)
}

/* MAIN CONTENT Mobile Format*/
main {
  margin-top: 75px;
  /* Pushing footer down */
  flex: 1 0 auto;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Banner section on the landing page */
.banner-landing {
  height: 75vh;
  width: 100%;
  position: relative;
  text-align: center;
  /* new stacking context is set in order to prevent image 
  to hide behind background color of the parent 'main' */
  z-index: 0;
  /* Flex applied to align entire text-block .banner-landing--text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Setting a banner as a background image of pseudo-element 
to control image filters w/o affecting the headings and paragraphs */
.banner-landing::before {
  content: "";
  background: url("../images/group-of-dog-sitters-walking-a-pack-of-dogs-on-leashes.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px) opacity(100%);
}

/* Flex applied to align child elements of .banner-landing--text */
.banner-landing--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 45%; */
  /* backdrop-filter: blur(10px);
  background: transparent; */
  background-color: #f2e20597;
}

.banner-landing--text h2 {
  padding: 1rem 1rem;
  max-width: 20ch;
}

.banner-landing--text p {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
  padding: 0 1rem;
  max-width: 30ch;
}

/* Shaping button on the landing banner */

.banner-landing--text a {
    background-color: var(--COLOR-4); 
    color: white;
    padding: 15px 15px;
    margin: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem); 
    border-radius: 10px; 
  }
  
  .banner-landing--text a:hover {
    background-color: var(--COLOR-1); 
  }

/* About Us section on the landing page */
.about-us {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: justify;
  padding: 1.5rem;
}

.about-us--image {
  padding: 1rem;
}

.about-us--image img {
  width: 100%;
  height: auto;
}

/* Services section */

.services {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}

.description-services {
  width: 90%;
  /* height: 40vh; */
  padding: 1rem;
  border: 1px solid var(--COLOR-4);
  border-radius: 50% 10% / 10% 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Testimonials Section */
.section-testimonials {
  width: 90%;
}

.testimonials {
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.339);
  margin-bottom: 1rem;
}

.testimonials--image {
  float: left;
  width: min(20%, 100px);
  margin-right: 1rem;
}

.testimonials h5 {
  padding-bottom: 0.5rem;
  text-align: left;
}

.testimonials p {
  text-align: justify;
}
/* -------------end-of-page-------------------------- */


/* Gallery page */

.banner-secondary {
  width: 100%;
  height: 40vh;
  position: relative;
  z-index: 1;
  /* background-color: darkred; */

  /* Set the background image */
  background-image: url("../images/panorama-flowers1.webp");

  /* Create the parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%) hue-rotate(-20deg);
}

.gallery-box {
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(-25vh);
}

.gallery-box h2 {
  background-color: cornsilk;
  padding: 1rem 1rem;
}

.gallery-photos img {
  width: 100%;
  line-height: 1em;
}

.gallery-photos {
  line-height: 0;
}

/* -------------end-of-page-------------------------- */

/* Services Page */

.services-details {
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(-20vh);
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
}

.services--cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services--cards h2 {
  padding: 2rem max(0.5rem, 5vw);
}

.services--cards--content {
  padding: 1rem max(0.5rem, 5vw);
  margin: 0.5rem;
  border:1px solid #b28705;
  box-shadow: 0px 2px 5px 2px var(--COLOR-1);
}
.services--cards--content h3,
.services--cards--content h4 {
  padding: 1rem 0;
}
.services--cards--content p {
text-align: justify;
}

/* Shape services icons */
.services--cards--content img {
  width: clamp(60px, 30%, 80px);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.clip-path-shadow {
  filter: drop-shadow(0px 2px 5px var(--COLOR-4));
}

.services--notes {
  display: flex;
  flex-direction: column;
}

.notes-item {
  padding: max(0.5rem, 5vw);
  margin: 0.5rem;
  text-align: justify;
  border:1px solid #b28705;
  text-align: left;
}

.notes-item--ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notes-item--ul li {
  padding: 0.2rem 0.5rem 0.2rem 0.2rem;
  text-indent: -1rem;
}

.notes-item--ul li::before {
  content: "🐶 ";
  padding-left: max(0.8rem, 4vw);
}
.notes-item--ul li span {
  position: relative;
  left: 0.8rem
}

/* -----------------end-of-page--------------------- */

/* Contact Page */

.contact {
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(-20vh);
  background-color: cornsilk;
}

/* Add styles footer */

footer {
  background-color: var(--COLOR-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-address {
  padding: 20px 0 10px 0;
}

.footer-social {
  width: 100%
}

.footer-social ul {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;

}

footer h5,
footer p {
  color: floralwhite;
  font-size: 0.8rem;
}