/* import of fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quattrocento&display=swap');

/* Color Theme Swatches in Hex
.Postane-1-hex { color: #3F4773; }
.Postane-2-hex { color: #F2E205; }
.Postane-3-hex { color: #F2CB05; }
.Postane-4-hex { color: #F2B807; }
.Postane-5-hex { color: #A68932; }

Color Theme Swatches in RGBA
.Postane-1-rgba { color: rgba(63, 70, 114, 1); }
.Postane-2-rgba { color: rgba(242, 226, 4, 1); }
.Postane-3-rgba { color: rgba(242, 202, 4, 1); }
.Postane-4-rgba { color: rgba(242, 183, 7, 1); }
.Postane-5-rgba { color: rgba(165, 136, 49, 1); }

Color Theme Swatches in HSLA
.Postane-1-hsla { color: hsla(230, 29, 34, 1); }
.Postane-2-hsla { color: hsla(56, 96, 48, 1); }
.Postane-3-hsla { color: hsla(50, 96, 48, 1); }
.Postane-4-hsla { color: hsla(45, 94, 48, 1); }
.Postane-5-hsla { color: hsla(44, 53, 42, 1); } */



/* Global declarations in wildcard */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CUSTOM COLOR VARIABLES */
:root {
  --COLOR-1: #3F4773;
  --COLOR-2: #F2E205;
  --COLOR-3: #F2CB05;
  --COLOR-4: #F2B807;
  --COLOR-5: #453914; 
}

/* General body styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Quattrocento', serif;
  color: var(--COLOR-5);
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--COLOR-1);
}

p {
  line-height: 130%;
}

/* HEADER */
header {
  background-color: var(--COLOR-3);
  padding: 1.5rem 1rem;
  position: fixed;
  z-index: 20;
  width: 100%;
  box-shadow: 0 10px 20px var(--COLOR-1);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  /* Underline removed to all 'a' children of the header*/
  text-decoration: none;
  color: inherit;
}

nav {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  width: 96%;
  margin: auto;
  padding: 0.5rem 4rem;
  line-height: 200%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  /* Adding glass morphism */
  backdrop-filter: blur(15px);
  background: transparent;
  /* makes entire list hidden until the burger toggled */
  /* opacity-height applied instead of display none  */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
}

.nav-menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style: none;
}

.nav-toggle--label {
  font-size: 2rem;
  padding-right: 0.5em;
}

/* Add hidden items: section headings and checkbox */
.hidden-heading {
  display: none;
}

#nav-toggle {
  display: none;
}

/* Provide checkbox toggle between visible non-visible */
#nav-toggle:checked~nav {
  /* max-height used with px instead of auto to avoid browser issues w/t calculation */
  opacity: 1;
  max-height: 300px;
}
/* Burger icon will rotate when toggled */
#nav-toggle:checked~.nav-toggle--label {
  transform: rotate(90deg)
}

/* MAIN CONTENT Mobile Format*/
main {
  margin-top: 85px;
  /* Pushing footer down */
  flex: 1 0 auto;
  background-color: #f2e2051f;
}

/* Banner section on the landing page */
.banner-landing {
  height: 75vh;
  width: 100%;
  position: relative;
  text-align: center;
  /* new stacking context is set in order to prevent image 
  to hide behind background color of the parent 'main' */
  z-index: 0;
  /* Flex applied to align entire text-block .banner-landing--text */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Setting a banner as a background image of pseudo-element 
to control image filters w/o affecting the headings and paragraphs */
.banner-landing::before {
  content: "";
  background: url("../images/group-of-dog-sitters-walking-a-pack-of-dogs-on-leashes.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(0) opacity(80%);
}

/* Flex applied to align child elements of .banner-landing--text */
.banner-landing--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 45%; */
  backdrop-filter: blur(10px);
  background: transparent;
}

/* Setting a responsive font-size to banner text */
.banner-landing--text h2 {
  /* font-weight: 400; */
  font-size: clamp(2.3rem, 4vw, 5rem);
  padding: 1rem 1rem;
  max-width: 20ch;
}

.banner-landing--text p {
  font-size: clamp(1.3rem, 1.5vw + 0.5rem, 2rem);
  padding: 0 1rem;
  max-width: 30ch;
}

/* Shaping button on the landing banner */
.banner-landing--text a {
  /* display: block; */
  margin-top: 1.5rem;
}

.banner-landing--text button {
  padding: 0.7rem;
  font-family: inherit;
}

/* About Us section on the landing page */

/* .about-us--image img,
.testimonials--image1 img,
.testimonials--image2 img {
  width: 100%;
  height: auto;
} */

.about-us h3 {
font-size: clamp(1.5rem, 3vw, 2.5rem)
}
.about-us h4 {
  font-size: clamp(1rem, 3vw, 2rem);
}
.about-us p {
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.5rem);
}

/* Cards description of servises  */
.description-services {
  min-width: 25%;
}

.about-us--services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 1rem;
  padding: 2rem; */
}


footer {
  background-color: blue;
}