/* import of fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quattrocento&display=swap');

/* Global declarations in wildcard */
*,
* ::after,
* ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* CUSTOM COLOR VARIABLES */
:root {
  --QUASI-WHITE: rgb(255, 251, 237);
  --COLOR-1: rgba(63, 70, 114, 1);
  --COLOR-2: rgba(242, 226, 4, 1);
  --COLOR-3: rgba(242, 202, 4, 1);
  --COLOR-4: rgba(101, 100, 89, 1);
  --COLOR-5: rgba(66, 55, 20, 1);
  /* Setting variable of measure for responsive design */
  --vw: 1vw;
}

/* General body styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  font-family: 'Quattrocento', serif;
  color: var(--COLOR-5);
}

input[type="checkbox"],
input[type="checkbox"]+label,
button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--COLOR-1);
}

/* Setting a responsive font-sizes */

h2 {
  font-size: clamp(2rem, 5vw + 0.5rem, 5rem);
}

h3 {
  font-size: clamp(1.5rem, 4.5vw, 2.2rem);
}

h4 {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}

h5,
p,
li>span,
label,
legend {
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 130%;
}

/* HEADER */
header {
  background-color: var(--COLOR-3);
  padding: 1rem 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 10px 20px var(--COLOR-1);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  /* Underline removed to all 'a' children of the header */
  text-decoration: none;
  color: inherit;
}

header h1 {
  font-size: 200%;
  font-weight: 600;
}

nav {
  position: absolute;
  top: 73px;
  left: 0;
  right: 0;
  width: 96%;
  margin: auto;
  padding: 0.5rem 3rem;
  line-height: 200%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: var(--COLOR-2);
  /* makes entire list hidden until the burger toggled */
  /* opacity-height applied instead of display none  */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1s ease-in-out, max-height 1s ease-in-out;
}

.nav-menu {
  font-size: 110%;
  letter-spacing: 3px;
  list-style: none;
}

.nav-toggle--label {
  font-size: 2rem;
  padding-right: 0.5em;
  color: var(--COLOR-1);
}

/* Add hidden items: section headings and checkbox */
.hidden-heading {
  display: none;
}

#nav-toggle {
  display: none;
}

/* Provide checkbox toggle between visible non-visible */
#nav-toggle:checked~nav {
  /* max-height used with px instead of auto to avoid browser issues w/t calculation */
  opacity: 1;
  max-height: 300px;
}

/* Burger icon will rotate when toggled */
#nav-toggle:checked~.nav-toggle--label {
  transform: rotate(90deg)
}

.nav-menu--active {
  border-bottom: 1px solid #3a3a3a;
}

/* MAIN CONTENT Mobile First*/
main {
  margin-top: 81.59px;
  /* Pushing footer down */
  flex: 1 0 auto;
  background-color: var(--QUASI-WHITE);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Banner section on the landing page */
.banner-landing {
  height: max(320px, 75vh);
  /*Set to avoid overflow in landscape mode*/
  width: 100%;
  position: relative;
  text-align: center;
  /* new stacking context is set in order to prevent image 
  to hide behind background color of the parent 'main' */
  z-index: 0;
  /* Flex applied to align entire text-block .banner-landing--text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Setting a banner as a background image of pseudo-element 
to control image filters w/o affecting the headings and paragraphs */
.banner-landing::before {
  content: "";
  background: url("../images/group-of-dog-sitters-walking-a-pack-of-dogs-on-leashes.jpeg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(2px) opacity(100%);
}

/* Flex applied to align child elements of .banner-landing--text */
.banner-landing--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Color-2 from the palette w/t opacity */
  background-color: rgba(242, 226, 4, 0.8);
  max-height: 100%;
  max-width: 95%;
}

.banner-landing--text h2 {
  padding: 1rem 1rem;
  /* Measure set in ch to prevent from stretching into one line */
  max-width: 20ch;
}

.banner-landing--text p {
  font-size: clamp(1.2rem, 2vw + 0.5rem, 2rem);
  padding: 0 1rem;
  max-width: 30ch;
}

/* Shaping button on the landing banner */

.banner-landing--text a {
  background-color: var(--COLOR-4);
  color: var(--QUASI-WHITE);
  padding: 15px 15px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
  border-radius: 10px;
}

.banner-landing--text a:hover {
  background-color: var(--COLOR-1);
}

/* About Us section on the landing page */
.about-us {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: justify;
  padding: 1.5rem;
}

.about-us--image {
  padding: 1rem;
  text-align: center;
}

.about-us--image img {
  width: 100%;
  max-width: 260px;
  height: auto;
}

.learn-more a {
  color: var(--COLOR-1);
}

.learn-more a:hover {
  font-size: larger;
}

.about-us--information2 .learn-more {
  text-align: center;
  padding: 1rem;
}

/* Services section */

.services {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
  border-bottom: 1px solid #a37c05;
  border-top: 1px solid #a37c05;
}

.description-services {
  width: 95%;
  max-width: 400px;
  padding: 0.5rem 0.3rem 1.5rem 1rem;
  border: 1px solid var(--COLOR-4);
  /* Border pattern is generated using MDN CSS demo, refer to README */
  border-radius: 50% 10% / 10% 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description-services h4 {
  text-align: center;
}

.description-services .learn-more {
  text-align: center;
  padding-top: 0.5rem;
}

/* Testimonials Section */
.section-testimonials {
  width: 90%;
  max-width: 1200px;
}

.testimonials {
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.339);
  margin-bottom: 1rem;
}

.testimonials--image {
  float: left;
  width: min(20%, 100px);
  margin-right: 1rem;
}

.testimonials h5 {
  padding-bottom: 0.5rem;
  text-align: left;
}

.testimonials p {
  text-align: justify;
}

/* -------------end-of-page-------------------------- */

/* Gallery page */

.banner-secondary {
  width: 100%;
  height: 25vh;
  position: relative;
  z-index: 1;

  /* Set the background image */
  background-image: url("../images/panorama-flowers1.webp");

  /* Create the fixed image effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%) hue-rotate(-20deg);
}

.gallery-box {
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(-15vh);
}

.gallery-box h2 {
  background-color: var(--QUASI-WHITE);
  padding: 1rem 1rem;
  text-align: center;
}

.gallery-photos img {
  width: 100%;
  line-height: 1em;
}

.gallery-photos {
  line-height: 0;
  column-gap: 0;
}

/* -------------end-of-page-------------------------- */

/* Services Page */

.services-details {
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(-15vh);
  background-color: var(--QUASI-WHITE);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services--cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-details h2 {
  padding: 2rem max(0.5rem, 5vw);
  text-align: center;
}

.services--cards--content {
  max-width: 400px;
  padding: 1rem max(0.5rem, 2vw);
  margin: 0.5rem;
  border: 1px solid #b28705;
  box-shadow: 0px 2px 5px 2px var(--COLOR-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services--cards--content h3,
.services--cards--content h4 {
  padding: 1rem 0;
}

.services--cards--content p {
  text-align: justify;
}

/* Shape service cards buttons */
.services--cards--content a {
  background-color: var(--COLOR-4);
  color: white;
  padding: 15px 15px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
  border-radius: 10px;
}

.services--cards--content a:hover {
  background-color: var(--COLOR-1);
}


/* Shape services icons with CSS Portal clip-generator tool, refer to README */
.services--cards--content img {
  width: clamp(60px, 30%, 80px);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.clip-path-shadow {
  filter: drop-shadow(0px 2px 5px var(--COLOR-4));
  text-align: center;
}

.services--notes {
  display: flex;
  flex-direction: column;
}

.notes-item {
  padding: clamp(0.5rem, 4vw, 1rem);
  margin: 0.5rem;
  text-align: justify;
  border: 1px solid #b28705;
  text-align: left;
}

.ul-special-style {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.ul-special-style li {
  padding-top: 0.3rem;
  text-indent: -1rem;
}

.ul-special-style li::before {
  content: "🐶 ";
  padding-left: max(0.8rem, 4vw);
}

.ul-special-style span {
  position: relative;
  left: 0.8rem
}

/* -----------------end-of-page--------------------- */

/* Contact Page */

.contact {
  width: 90%;
  position: relative;
  z-index: 2;
  transform: translateY(-15vh);
  background-color: var(--QUASI-WHITE);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.media--card {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.media--card--icon {
  margin: 1rem;
}

.media--card--icon > i {
  color: #3f4773;
} 

.customer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid var(--COLOR-4);
  box-shadow: inset 0px 0px 13px 12px rgba(0, 0, 0, 0.1);
}

.customer-form--title {
  margin: 1rem 1rem 2rem 1rem;
  text-align: center;
}

.customer-form--descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.customer-form--button {
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Shaping the register button  */
.customer-form--button a {
  background-color: var(--COLOR-4);
  color: white;
  padding: 15px 15px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
  border-radius: 10px;
}

.customer-form--button a:hover {
  background-color: var(--COLOR-1);
}

/* -----------------end-of-page--------------------- */

/* Customer-form page */

#banner-registration {
  height: 25vh;
  width: 100%;
  position: relative;
  text-align: center;
  /* new stacking context is set in order to prevent image 
  to hide behind background color of the parent 'main' */
  z-index: 0;
  /* Flex applied to align entire text-block .banner-landing--text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#banner-registration::before {
  content: "";
  background: url("../images/panorama-flowers1.webp") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(50%) hue-rotate(-20deg);
}

#banner-registration--text {
  line-height: normal;
  background-color: #f2e20597;
  padding: max(0.5rem, 1vw) max(0.5rem, 2vw);
  position: sticky;
  top: 75px;
}

/* Section Form customer-form page */

.customer-registration {
  width: min(100%, 1200px);
  /* Responsive padding pattern to minimize queries */
  padding: calc(5 * var(--vw));
}

.customer-registration label:not(.fieldset-items>label),
.customer-registration legend {
  font-weight: 900;
}

.customer-registration *:is(input[type=text], input[type=tel], input[type=email], select) {
  padding: 10px;
  width: 100%;
  font-family: serif;
  /* Responsive font-size for inputs */
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
  border: 1px solid var(--COLOR-4);
  border-radius: 8px;
}

.customer-registration *:is(input[type=text], input[type=tel], input[type=email], select):focus {
  border: 3px solid var(--COLOR-1);
}

.customer-registration--block>div:focus-within label {
  color: rgb(51, 51, 160);
  font-size: 150%;
}

.registration--form {
  display: flex;
  flex-direction: column;
  /* Responsive padding pattern to minimize queries */
  padding-top: calc(4 * var(--vw));
  padding-bottom: calc(3 * var(--vw));
  border: 1px solid var(--COLOR-4);
  box-shadow: inset 0px 0px 13px 12px rgba(0, 0, 0, 0.1);
}

/* Does not take effect in all browsers (possible reason: default browser rendering */
.customer-registration--block option {
  font-family: serif;
  background-color: var(--COLOR-2);
}

.customer-registration--block {
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
}

.customer-registration--block>div {
  width: 100%;
  padding-bottom: 1.5em;
}

.customer-registration--block fieldset {
  padding: 1rem 1rem 1rem calc(10 * var(--vw));
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.customer-registration--block fieldset label {
  padding-left: 4px;
  padding-right: 1rem;
  line-height: 200%;
}

.registration--form--button {
  align-self: center;
  background-color: var(--COLOR-4);
  color: var(--QUASI-WHITE);
  padding: 15px 15px;
  margin: 1rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-family: 'Quattrocento', serif;
  font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem);
  border-radius: 10px;
}

.registration--form--button:hover {
  background-color: var(--COLOR-1);
}

/* Add styles footer */

footer {
  background-color: var(--COLOR-4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-address {
  padding: 20px 0 10px 0;
}

.footer-social {
  width: 100%
}

.footer-social ul {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.footer-social i {
  font-size: clamp(160%, 3vw, 280%);
  padding: 5%;
}

footer h5,
footer p {
  color: var(--QUASI-WHITE);
  font-size: clamp(0.8rem, 1.5vw, 1.3rem);
}

.fa-brands {
  color: var(--QUASI-WHITE);
}

.fa-brands:hover {
  color: var(--COLOR-2)
}

/* Response Page styles */

#response-gratitude {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

#welcome-dogs {
  max-width: 100%;
  height: auto;
}

/* MEDIA QUERIES */

/* Trigger padding for the input fields as from smaller screens */

@media screen and (min-width: 380px) and (max-width: 1020px) {

  .customer-registration--block {
    padding: 20px calc(12 * var(--vw));
  }
}

/* IPad-mini and larger */

/* header and nav-bar */
@media screen and (min-width: 765px) {

  header {
    align-items: center;
    min-height: 79px;
    padding: 0 0 0 1rem;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0;
    flex-basis: 80%;
    align-self: stretch;
    opacity: 1;
    max-height: 100%;
    transition: none;
    background-color: transparent;
    border: none;
    top: 0;
    line-height: normal;
    padding: 0;
  }

  .nav-toggle--label {
    display: none;
  }

  .nav-menu {
    letter-spacing: normal;
    flex: 1;
    padding: 0 calc(4 * var(--vw)) 0 calc(1.5rem + 3 * var(--vw));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: calc(3 * var(--vw));
  }

  .nav-menu>li {
    font-size: clamp(0.8rem, 2vw + 0.2rem, 1.3rem);
    padding: 0.9rem 0.5rem 0.5rem 0.5rem;
    width: 120px;
    height: 50px;
    /* Buttons designed using Neumorphism tool - refer to README */
    border-radius: 16px;
    background: #f2cb05;
    box-shadow: -20px 20px 55px #a98e04,
      20px -20px 55px #ffff07;
  }
/* Buttons designed using Neumorphism tool - refer to README */
  .nav-menu>li:hover {
    background: linear-gradient(315deg, #dab705, #ffd905);
    box-shadow: -45px -45px 64px #8a7403,
      45px 45px 64px #ffff07;
  }

  /* Main sections of the landing page */

  .about-us {
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
  }

  .about-us>h3 {
    padding-left: 1rem;
  }

  .about-us>div {
    display: flex;
  }

  .flex-even {
    flex: 3;
    padding: 0.7rem;
  }

  .about-us--image {
    order: -1;
    padding-left: 0;
    flex: 2;
  }

  .services {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .description-services {
    max-width: 32ch;
  }

  .section-testimonials {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  /* Footer */

  footer {
    flex-direction: row;
  }

  .footer-address {
    flex: 1;
    padding: 20px 0 20px clamp(1rem, 3vw, 2.5rem);
  }

  .footer-social {
    flex: 2;
  }

  /* Gallery Page */
  .gallery-photos {
    column-count: 2;
    background-color: var(--COLOR-2);
  }

  /* Services Page */

  .services--cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .services--cards--content {
    justify-content: space-between;
  }

  .personnel-left {
    display: flex;
    flex-direction: column;
  }

  .personnel-left>div {
    display: flex;
  }

  .ul-special-style {
    padding-right: 1rem;
  }

  /* Contact Page */

  .contact--media {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

  .media--card {
    flex: 1
  }

  /* Customer Form page */
  .customer-registration--block fieldset {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }

  .fieldset-items {
    padding-right: 0.5rem;
  }

}

@media screen and (min-width: 1020px) {

  /* Adjust the gap between the services cards */
  .services {
    gap: 4rem;
  }

  /* Change limitation on characters for service cards to stay within 2 column layout */
  .description-services {
    max-width: 45ch;
  }

  /* Adjust left spacing for large screens - address in footer */
  .footer-address {
    padding-left: 3.5rem;
  }

  /* Gallery page */

  .gallery-photos {
    column-count: 3;
  }

  /* Registration form */
  .registration--form {
    flex-direction: row;
    padding: 2rem;
  }

  .customer-registration--block {
    padding: 0 1.5rem;
    flex: 1;
  }

}

@media screen and (min-width: 1380px) and (max-width: 1600px) {

  /* Manages price cards to prevent from switching to 3-column 2 rows layout */
  .services--cards {
    max-width: 1000px;
    gap: 2rem
  }
}

@media screen and (min-width: 1600px) {

  .services--cards {
    /* max-width return to initial value after the previous query */
    max-width: 100%;
    /* Ensure all 4 cards in one row */
    flex-wrap: nowrap;
    gap: 0;
  }

  .services--notes {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .notes-item {
    border: none;
  }

}

/*Set to avoid overflow of banner text background in landscape mode*/

@media only screen and (max-width: 950px) and (max-height: 500px) and (orientation: landscape) {

  .banner-landing--text h2 {
    font-size: 2.5rem;
  }

  .banner-landing--text p {
    font-size: 1.2rem;
  }
}

@media (orientation: landscape) {
  .banner-landing--text a {
    font-size: 1.2rem;
  }
}